body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
section{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 4%;
    padding-right: 20px;
}
.half-width img{
    width: 80%;
    height: 80%;   /*exra use*/
    border: 3px solid lightskyblue;
    border-radius: 300px;  
}

h1{
    font-size: 50px;
}
.orange{
    color:orange;
}
.link-button{
     text-decoration: none;
     background-image: linear-gradient(orange, tomato);
     padding: 10px 40px;
     color: white;
     letter-spacing: 2px;
     font-weight: 700;
     border-radius: 20px;
}
.top-banner{
   background-image: url(image/circle8.png);
    background-repeat: no-repeat;

}

#second{
    padding: 15px;
    background-image: linear-gradient(orange, tomato);
}

.font-second{
    font-family: 'Festive', cursive;
}
.dream-big{
    background-image: url(image/circle6.png);
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
}