body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 4%;
    padding-right: 20px;
}
.half-width img{
    width: 80%;
    height: 80%;   /*exra use*/
    border: 3px solid lightskyblue;
    border-radius: 300px;  
}

h1{
    font-size: 50px;
}
.orange{
    color:orange;
}
.link-button{
     text-decoration: none;
     background-image: linear-gradient(orange, tomato);
     padding: 10px 40px;
     color: white;
     letter-spacing: 2px;
     font-weight: 700;
     border-radius: 20px;
}
.top-banner{
   background-image: url(image/circle8.png);
    background-repeat: no-repeat;

}

#second{
    padding: 15px;
    background-image: linear-gradient(orange, tomato);
}

.font-second{
    font-family: 'Festive', cursive;
}
.dream-big{
    background-image: url(image/circle6.png);
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
}

.experience-area{
    background-image: url(image/circle8.png);
    background-repeat: no-repeat;
    background-position: center ;
    
}

h2{
    font-size: 35px;
}
.box-shadow{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    box-shadow:10px 10px 30px rgb(165, 158, 158);
    border-radius: 10px;

}
#stack-developer{
    border-left: 7px solid;
    border-image:linear-gradient(cyan, blue);
    border-image-slice: 1;
}


#web-developer{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan) ;
    border-image-slice:1;
 
}

footer p{
    text-align: center;

}